#MainUI
{
	-fx-background-color: #f5f5dc;
}

.SimTitleCSS
{
	-fx-background-color: #eee8aa;
	-fx-border-color: #708090;
	-fx-border-width: 1;

}

.SimColCSS
{
	-fx-border-color: #708090;
	-fx-border-width: 1;
	-fx-border-insets: 1 5 1 5;/** top right bottom left **/ 
}

.SimLaneColCSS
{
	-fx-border-color: #ff7f50;/**  **/
	-fx-border-width: 1;
}
.TaskNodeCSS
{
	-fx-background-color:#66cdaa;
	-fx-border-color: #00008b;
	-fx-border-width: 1;
	
}
.SubTaskNodeCSS
{
	-fx-background-color: #ffdead;
	-fx-border-color: #00008b;
	-fx-border-width: 1;
	
}